* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 23px 16px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}
.header__logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #000;
}
.header__logo-style {
  color: #2196f3;
}
.header__nav {
  display: none;
}
.header__contact {
  display: none;
}
.header__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border: none;
}
.header__mobile-menu {
  width: 24px;
  height: 16px;
  fill: #212121;
}
.header__mobile-menu:hover, .header__mobile-menu:focus {
  fill: #2196f3;
  cursor: pointer;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

@media (min-width: 768px) {
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 24px 0 25px 0;
    margin: 0;
  }
  .header__mobile {
    display: none;
  }
  .header__logo {
    line-height: 1.193;
  }
  .header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    width: 80%;
  }
  .header__nav-style {
    color: #212121;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__nav-style:hover, .header__nav-style:focus {
    color: #2196f3;
  }
  .header__nav-size {
    width: 40%;
  }
  .header__nav-active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #2196f3;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    border-radius: 2px;
  }
  .header__nav-active {
    color: #2196f3;
  }
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    gap: 10px;
  }
  .header__contact-style {
    color: #757575;
    fill: #757575;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 0.1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 0.1);
  }
  .header__contact-style:hover {
    color: #2196f3;
    fill: #2196f3;
  }
  .header__contact svg {
    margin: 0 10px 0 0;
  }
}
@media (min-width: 1200px) {
  .header {
    gap: 93px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    gap: 46px;
  }
  .header__nav-style {
    color: #212121;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__nav-style:hover,
.header__nav-style :focus {
    color: #2196f3;
  }
  .header__contact {
    gap: 50px;
    margin-left: auto;
  }
}
.top-section {
  background-image: url("../images/main/solution-background-mobile.jpg");
  background-color: rgba(47, 48, 58, 0.4);
  background-blend-mode: difference;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.top-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 118px 0;
  gap: 30px;
}
.top-section__header {
  font-size: 44px;
  color: #fff;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-align: center;
  line-height: 1.364;
}
.top-section__button {
  background-color: #2196f3;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 0;
  gap: 50px;
}
.block__header {
  font-size: 36px;
  color: #212121;
}
.block__background {
  background-color: #f5f4fa;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 60px 15px 60px 15px;
  justify-content: center;
}
.about-us > li {
  width: 100%;
}
.about-us__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
}
.about-us__header {
  font-weight: 700;
  font-size: 14px;
  color: #212121;
  margin: 0 0 10px 0;
  width: 100%;
  text-align: center;
}
.about-us__text {
  line-height: 1.71;
}

.mobile-hidden-part {
  display: none;
}

.our-crew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.our-crew__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-crew__list-name {
  margin: 30px 0 10px 0;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
}
.our-crew__list-proffesion {
  margin: 0 0 16px 0;
  line-height: 1.1875;
  font-size: 16px;
}
.our-crew__link-set {
  text-decoration: none;
  cursor: pointer;
  color: #212121;
}
.our-crew__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0;
  gap: 10px;
}
.our-crew__icon {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-crew__icon:hover, .our-crew__icon:focus {
  background-color: #2196f3;
  fill: #fff;
  cursor: pointer;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients__logo {
  border-radius: 4px;
  border: #afb1b8 solid 1px;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo:hover,
.clients__logo :focus {
  fill: #2196f3;
  border: #2196f3 solid 1px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .top-section {
    background-image: url("../images/main/solution-background-768.jpg");
  }
  .top-section__container {
    padding: 200px 0;
    width: 100%;
  }
  .top-section button:hover,
.top-section button:focus {
    background: #f5f4fa;
    -webkit-box-shadow: 0px 3px 1px rgba(33, 150, 243, 0.1019607843), 0px 1px 2px rgba(33, 150, 243, 0.0784313725), 0px 2px 2px rgba(33, 150, 243, 0.1215686275);
            box-shadow: 0px 3px 1px rgba(33, 150, 243, 0.1019607843), 0px 1px 2px rgba(33, 150, 243, 0.0784313725), 0px 2px 2px rgba(33, 150, 243, 0.1215686275);
    border-radius: 4px;
    color: #212121;
  }
  .block {
    padding: 94px 0;
  }
  .block__header {
    font-size: 36px;
    color: #212121;
  }
  .block__background {
    background-color: #e5e5e5;
  }
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 94px 0 0 0;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-us > li {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
  .our-crew {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .our-crew__members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-crew > li {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
  .our-crew__list-proffesion {
    margin: 0 0 30px 0;
  }
  .our-crew__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 16px 0 30px 0;
  }
  .clients__logo {
    width: 226px;
    height: 92px;
  }
}
@media (min-width: 1200px) {
  .top-section {
    background-image: url("../images/main/solution-background.jpg");
    background-size: auto;
  }
  .block__header {
    font-size: 36px;
    color: #212121;
  }
  .block__background {
    background-color: #e5e5e5;
  }
  .about-us {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .mobile-hidden-part {
    display: initial;
  }
  .our-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
  .our-services-img-size {
    height: 294px;
    width: 370px;
  }
  .our-services-img-description {
    color: #fff;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    height: 70px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    padding: 27px 0;
    top: -72px;
  }
  .our-crew__members {
    width: 270px;
  }
  .our-crew__list-proffesion {
    margin: 0 0 16px 0;
  }
  .our-crew__icons {
    grid-gap: 10px;
  }
  .clients__logo {
    width: 170px;
    height: 92px;
  }
}
footer {
  background-color: #2f303a;
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0;
  gap: 60px;
}
.footer__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  line-height: 1.193;
}
.footer__logo-color {
  color: #2196f3;
}
.footer__address-style {
  font-style: normal;
  color: #fff;
  margin: 20px 0 0 0;
  text-align: center;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 9px;
  margin: 9px 0 9px 0;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover,
.footer__link :focus {
  color: #2196f3;
}
.footer__header {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}
.footer__header-sign-up {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer__icon {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  border-radius: 50%;
  fill: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon:hover,
.footer__icon :focus {
  background-color: #2196f3;
  fill: #fff;
  cursor: pointer;
}
.footer__sign-up {
  background-color: #000;
  border: solid rgba(255, 255, 255, 0.3019607843) 1px;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px;
  margin-bottom: 15px;
  font-size: 16px;
}
.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__button {
  background-color: #2196f3;
  color: #fff;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border-style: none;
  margin-left: 12px;
  text-align: left;
  padding-left: 58px;
  cursor: pointer;
}
.footer__button-logo {
  fill: #fff;
  position: absolute;
  width: 50px;
  height: 24px;
}

@media (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__address-style {
    margin: 20px 0 0 0;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 9px 0;
  }
  .footer__header {
    text-align: center;
    margin: 0 0 20px 0;
  }
}
@media (min-width: 1200px) {
  .footer {
    gap: 70px;
  }
  .footer__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: left;
  }
  .footer__links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    margin: 9px 0 9px 0;
  }
  .footer__header {
    margin: 20px 0 20px 0;
  }
  .footer__header-sign-up {
    margin-left: 40px;
  }
  .footer__icons {
    margin-bottom: 30px;
  }
  .footer__sign-up {
    width: 358px;
  }
}
.backdrop {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5019607843);
  position: fixed;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.order {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  min-height: 581px;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  gap: 10px;
  color: #757575;
}
.order__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.172;
  color: #212121;
  margin: 40px 0 20px 0;
  width: 370px;
  text-align: center;
}
.order__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.order__input {
  width: 350px;
  height: 40px;
  display: block;
  border: rgba(33, 33, 33, 0.2) 1px solid;
  margin: 4px 10 0 10;
  border-radius: 4px;
  padding: 0 0 0 30px;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order__icon {
  fill: #212121;
  width: 15px;
  height: 13px;
  position: relative;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order__icon-person-placement {
  top: 33px;
  left: -24px;
}
.order__icon-phone-placement {
  top: 33px;
  left: -30px;
}
.order__icon-email-placement {
  top: 33px;
  left: -27px;
}
.order__comment {
  resize: none;
  font-size: 16px;
  width: 350px;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order__terms-contitions {
  font-size: 14px;
  padding: 10px 0 20px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.order__terms-contitions input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.order__terms-contitions input:checked ~ .order__checkmark {
  background-color: #2196f3;
  border: none;
}
.order__terms-contitions :checked ~ .order__checkmarm::after {
  display: block;
}
.order__tick {
  fill: #fff;
  width: 11px;
  height: 8px;
  position: absolute;
  left: 60px;
  top: 458px;
  z-index: 999;
}
.order__checkmark {
  position: absolute;
  cursor: pointer;
  left: 70px;
  top: 454px;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  background-color: #fff;
  border: #212121 2px solid;
}
.order__hover:hover > .order__input, .order__hover:focus > .order__input, .order__hover:active > .order__input {
  border: #2196f3 1px solid;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.order__hover:hover > .order__icon, .order__hover:focus > .order__icon, .order__hover:active > .order__icon {
  fill: #2196f3;
}
.order__comment:hover, .order__comment:focus, .order__comment:active {
  border: #2196f3 1px solid;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.order__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.order__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.order__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.order__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.order__comment::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.order__links {
  color: #2196f3;
  text-decoration: underline;
}
.order__button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0, 6em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

@media (min-width: 500px) {
  .order {
    width: 528px;
  }
  .order__input {
    width: 448px;
    margin: 4px 0 0 0;
    padding: 0 0 0 32px;
  }
  .order__icon {
    position: absolute;
  }
  .order__icon-person-placement {
    top: 125px;
    left: 56px;
  }
  .order__icon-phone-placement {
    top: 194px;
    left: 56px;
  }
  .order__icon-email-placement {
    top: 262px;
    left: 56px;
  }
  .order__comment {
    width: 448px;
  }
  .order__terms-contitions input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  .order__terms-contitions input:checked ~ .order__checkmark {
    background-color: #2196f3;
    border: none;
  }
  .order__terms-contitions :checked ~ .order__checkmarm::after {
    display: block;
  }
  .order__tick {
    fill: #fff;
    width: 11px;
    height: 8px;
    position: absolute;
    left: 60px;
    top: 458px;
    z-index: 999;
  }
  .order__checkmark {
    position: absolute;
    cursor: pointer;
    left: 70px;
    top: 454px;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background-color: #fff;
    border: #212121 2px solid;
  }
}
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 8px;
  margin-top: 94px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.filter__button {
  background-color: #f5f4fa;
  border-width: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border-radius: 3px;
  padding: 6px 22px;
  font-family: "Roboto";
}
.filter__button:hover,
.filter__button :focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 94px;
}
.product__part {
  border: 1px solid #eeeeee;
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
  height: 404px;
  width: 450px;
  margin: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__part:hover,
.product__part :focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.product a {
  color: #2f303a;
}
.product__header {
  color: #2f303a;
  margin: 0 0 0 24px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
  margin: 20px 0 4px 24px;
}
.product__type {
  color: #2f303a;
  margin: 0 0 0 24px;
  line-height: 1.88;
  font-size: 14px;
}

.product-descrip-hidden {
  width: 370px;
  height: 294px;
  position: absolute;
  overflow: hidden;
}
.product-descrip-hidden:hover .product-descrip-popup {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product-descrip-popup {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
  padding: 20px 0 0 24px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9019607843);
}

@media (min-width: 584px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) {
  .product__part {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 302px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.mobile.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile__menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
}
.mobile__menu-link {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
}
.mobile__menu-link:hover, .mobile__menu-link:focus {
  color: #2196f3;
}
.mobile__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}
.mobile__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.mobile__contacts-phone {
  font-size: 34px;
  font-weight: 500;
  color: #2196f3;
}
.mobile__contacts-email {
  font-size: 24px;
  font-weight: 500;
  color: #757575;
}
.mobile__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
.mobile__socials-link {
  font-size: 18px;
  color: #2196f3;
  font-weight: 500;
}
.mobile__close {
  width: 19px;
  height: 19px;
}

.menu-toggle {
  min-height: 19px;
  min-width: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  fill: #212121;
  top: 21px;
  right: 25px;
}
.menu-toggle:focus, .menu-toggle:hover {
  fill: #2196f3;
}

body {
  background-color: #fff;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */