.top-section {
  background-image: url("../images/main/solution-background-mobile.jpg");
  background-color: $background-top-mix;
  background-blend-mode: difference;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;

  &__container {
    @include flexcenter(column);
    padding: 118px 0;
    gap: 30px;
  }
  &__header {
    font-size: map-get($font-size, main-text);
    color: $white;
    letter-spacing: map-get($letter-spacing, header);
    font-weight: map-get($font-weight, extrabold);
    text-align: center;
    line-height: 1.364;
  }
  &__button {
    background-color: $hover-blue;
    border-radius: 4px;
    color: $white;
    font-size: map-get($font-size, enlarged);
    font-family: $standard-font;
    font-weight: map-get($font-weight, bold);
    letter-spacing: map-get($letter-spacing, header);
    height: 50px;
    width: 150px;
    cursor: pointer;
  }
}
.block {
  @include flexcenter(column);
  padding: 60px 0;
  gap: 50px;

  &__header {
    font-size: map-get($font-size, section-header);
    color: $secondary-text;
  }
  &__background {
    background-color: $background-crew;
  }
}

.about-us {
  @include flexcenter(column);
  gap: 30px;
  padding: 60px 15px 60px 15px;
  justify-content: center;
  & > li {
    width: 100%;
  }

  &__icon {
    @include flexcenter(row);
    border-radius: 4px;
    margin-bottom: 30px;
    height: 120px;
    width: 100%;
    background-color: $background-crew;
  }
  &__header {
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, standard);
    color: $secondary-text;
    margin: 0 0 10px 0;
    width: 100%;
    text-align: center;
  }
  &__text {
    line-height: 1.71;
  }
}
.mobile-hidden-part {
  display: none;
}
.our-crew {
  @include flexcenter(column);
  gap: 30px;

  &__members {
    @include flexcenter(column);
    text-align: center;
    background-color: $white;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
  }
  &__list-name {
    margin: 30px 0 10px 0;
    color: $secondary-text;
    font-size: map-get($font-size, enlarged);
    font-weight: map-get($font-weight, medium);
    line-height: 1.1875;
  }
  &__list-proffesion {
    margin: 0 0 16px 0;
    line-height: 1.1875;
    font-size: map-get($font-size, enlarged);
  }
  &__link-set {
    text-decoration: none;
    cursor: pointer;
    color: $secondary-text;
  }
  &__icons {
    display: flex;
    margin: 0 0 30px 0;
    gap: 10px;
  }
  &__icon {
    width: 44px;
    height: 44px;
    background-color: $white;
    border-radius: 50%;
    fill: $icon-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $hover-blue;
      fill: $white;
      cursor: pointer;
    }
  }
}
.clients {
  @include flexcenter(row);
  gap: 30px;
  flex-wrap: wrap;

  &__logo {
    border-radius: 4px;
    border: $icon-color solid 1px;
    width: 170px;
    height: 92px;
    fill: $icon-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    :focus {
      fill: $hover-blue;
      border: $hover-blue solid 1px;
      cursor: pointer;
    }
  }
}
@media (min-width: 768px) {
  .top-section {
    background-image: url("../images/main/solution-background-768.jpg");
    background-color: $background-top-mix;
    background-blend-mode: difference;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    &__container {
      @include flexcenter(column);
      padding: 200px 0;
      gap: 30px;
      width: 100%;
    }
    &__header {
      font-size: map-get($font-size, main-text);
      color: $white;
      letter-spacing: map-get($letter-spacing, header);
      font-weight: map-get($font-weight, extrabold);
      text-align: center;
      line-height: 1.364;
    }
    &__button {
      background-color: $hover-blue;
      border-radius: 4px;
      color: $white;
      font-size: map-get($font-size, enlarged);
      font-family: $standard-font;
      font-weight: map-get($font-weight, bold);
      letter-spacing: map-get($letter-spacing, header);
      height: 50px;
      width: 150px;
      cursor: pointer;
    }
    button:hover,
    button:focus {
      background: $background-crew;
      box-shadow: 0px 3px 1px #2196f31a, 0px 1px 2px #2196f314,
        0px 2px 2px #2196f31f;
      border-radius: 4px;
      color: $secondary-text;
    }
  }
  .block {
    @include flexcenter(column);
    padding: 94px 0;
    gap: 50px;

    &__header {
      font-size: map-get($font-size, section-header);
      color: $secondary-text;
    }
    &__background {
      background-color: $background-page;
    }
  }

  .about-us {
    @include flexcenter(row);
    gap: 30px;
    padding: 94px 0 0 0;
    justify-content: center;
    flex-wrap: wrap;

    &__icon {
      @include flexcenter(row);
      border-radius: 4px;
      margin-bottom: 30px;
      height: 120px;
      width: 100%;
      background-color: $background-crew;
    }
    & > li {
      flex-basis: calc((100% - 120px) / 4);
    }
    &__header {
      font-weight: map-get($font-weight, bold);
      font-size: map-get($font-size, standard);
      color: $secondary-text;
      margin: 0 0 10px 0;
    }
    &__text {
      line-height: 1.71;
    }
  }
  .our-services {
    @include flexcenter(row);
    gap: 30px;

    &-img-size {
      height: 294px;
      width: 370px;
    }
    &-img-description {
      color: $white;
      background-color: rgba(47, 48, 58, 0.8);
      font-weight: map-get($font-weight, bold);
      height: 70px;
      text-align: center;
      position: relative;
      text-transform: uppercase;
      padding: 27px 0;
      top: -72px;
    }
  }
  .our-crew {
    @include flexcenter(row);
    gap: 30px;
    flex-wrap: wrap;

    &__members {
      @include flexcenter(column);
      text-align: center;
      background-color: $white;
      box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
      border-radius: 0px 0px 4px 4px;
    }
    & > li {
      flex-basis: calc((100% - 120px) / 4);
    }
    &__list-name {
      margin: 30px 0 10px 0;
      color: $secondary-text;
      font-size: map-get($font-size, enlarged);
      font-weight: map-get($font-weight, medium);
      line-height: 1.1875;
    }
    &__list-proffesion {
      margin: 0 0 30px 0;
      line-height: 1.1875;
      font-size: map-get($font-size, enlarged);
    }
    &__link-set {
      text-decoration: none;
      cursor: pointer;
      color: $secondary-text;
    }
    &__icons {
      display: flex;
      justify-content: center;
      margin: 16px 0 30px 0;
      gap: 10px;
    }
    &__icon {
      width: 44px;
      height: 44px;
      background-color: $white;
      border-radius: 50%;
      fill: $icon-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      :focus {
        background-color: $hover-blue;
        fill: $white;
        cursor: pointer;
      }
    }
  }
  .clients {
    @include flexcenter(row);
    gap: 30px;

    &__logo {
      border-radius: 4px;
      border: $icon-color solid 1px;
      width: 226px;
      height: 92px;
      fill: $icon-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      :focus {
        fill: $hover-blue;
        border: $hover-blue solid 1px;
        cursor: pointer;
      }
    }
  }
}
@media (min-width: 1200px) {
  .top-section {
    background-image: url("../images/main/solution-background.jpg");
    background-color: $background-top-mix;
    background-blend-mode: difference;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;

    &__container {
      @include flexcenter(column);
      padding: 200px 0;
      gap: 30px;
    }
    &__header {
      font-size: map-get($font-size, main-text);
      color: $white;
      letter-spacing: map-get($letter-spacing, header);
      font-weight: map-get($font-weight, extrabold);
      text-align: center;
      line-height: 1.364;
    }
    &__button {
      background-color: $hover-blue;
      border-radius: 4px;
      color: $white;
      font-size: map-get($font-size, enlarged);
      font-family: $standard-font;
      font-weight: map-get($font-weight, bold);
      letter-spacing: map-get($letter-spacing, header);
      height: 50px;
      width: 150px;
      cursor: pointer;
    }
    button:hover,
    button:focus {
      background: $background-crew;
      box-shadow: 0px 3px 1px #2196f31a, 0px 1px 2px #2196f314,
        0px 2px 2px #2196f31f;
      border-radius: 4px;
      color: $secondary-text;
    }
  }
  .block {
    @include flexcenter(column);
    padding: 94px 0;
    gap: 50px;

    &__header {
      font-size: map-get($font-size, section-header);
      color: $secondary-text;
    }
    &__background {
      background-color: $background-page;
    }
  }

  .about-us {
    @include flexcenter(row);
    gap: 30px;
    padding: 94px 0 0 0;
    justify-content: center;
    flex-wrap: nowrap;
    & > li {
      flex-basis: calc((100% - 120px) / 4);
    }
    &__icon {
      @include flexcenter(row);
    }
    &__header {
      font-weight: map-get($font-weight, bold);
      font-size: map-get($font-size, standard);
      color: $secondary-text;
      margin: 0 0 10px 0;
    }
    &__text {
      line-height: 1.71;
    }
  }
  .mobile-hidden-part {
    display: initial;
  }
  .our-services {
    @include flexcenter(row);
    gap: 30px;

    &-img-size {
      height: 294px;
      width: 370px;
    }
    &-img-description {
      color: $white;
      background-color: rgba(47, 48, 58, 0.8);
      font-weight: map-get($font-weight, bold);
      height: 70px;
      text-align: center;
      position: relative;
      text-transform: uppercase;
      padding: 27px 0;
      top: -72px;
    }
  }
  .our-crew {
    @include flexcenter(row);
    gap: 30px;

    &__members {
      @include flexcenter(column);
      text-align: center;
      background-color: $white;
      box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
      border-radius: 0px 0px 4px 4px;
      width: 270px;
    }
    &__list-name {
      margin: 30px 0 10px 0;
      color: $secondary-text;
      font-size: map-get($font-size, enlarged);
      font-weight: map-get($font-weight, medium);
      line-height: 1.1875;
    }
    &__list-proffesion {
      margin: 0 0 16px 0;
      line-height: 1.1875;
      font-size: map-get($font-size, enlarged);
    }
    &__link-set {
      text-decoration: none;
      cursor: pointer;
      color: $secondary-text;
    }
    &__icons {
      display: flex;
      margin: 16px 0 30px 0;
      grid-gap: 10px;
    }
    &__icon {
      width: 44px;
      height: 44px;
      background-color: $white;
      border-radius: 50%;
      fill: $icon-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      :focus {
        background-color: $hover-blue;
        fill: $white;
        cursor: pointer;
      }
    }
  }
  .clients {
    @include flexcenter(row);
    gap: 30px;

    &__logo {
      border-radius: 4px;
      border: $icon-color solid 1px;
      width: 170px;
      height: 92px;
      fill: $icon-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      :focus {
        fill: $hover-blue;
        border: $hover-blue solid 1px;
        cursor: pointer;
      }
    }
  }
}
