$white: #fff;
$black-logo: #000;
$primary-text: #757575;
$secondary-text: #212121;
$hover-blue: #2196f3;
$popup-portfolio: #2196f3e6;
$border: #eeeeee;
$header-border: #ececec;
$background-top-mix: #2f303a66;
$background-crew: #f5f4fa;
$background-page: #e5e5e5;
$background-footer: #2f303a;
$icon-color: #afb1b8;
$footer-link: #ffffff99;
$footer-icon: #ffffff1a;
$footer-border: #ffffff4d;
$backdrop-background: #00000080;
$order-background: #21212133;
$order-border: #0000001a;
$placeholder-text: #75757580;
