@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin flexcenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin nav-style {
  font-weight: map-get($font-weight, medium);
  letter-spacing: map-get($letter-spacing, links);
  line-height: 1.2;
}
@mixin hover-icon {
  background-color: $hover-blue;
  fill: $white;
  cursor: pointer;
}
